body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  all: unset;
  cursor: pointer;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body.no-scroll {
  overflow: hidden;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.opacity6 {
  opacity: 0.6;
}
h2 {
  color: #ff9700;
  font-size: clamp(12px, 1vw, 16px);
}
h3 {
  font-weight: 700;
  font-size: clamp(20px, 3vw, 36px);
}
h4 {
  font-weight: 500;
  font-size: clamp(16px, 2.8vw, 24px);
}
$header-font: clamp(20px, 1.2vw, 28px);
$cj-yellow: #ff9700;
$main-color: #005b45;
$side-padding: clamp(20px, 3vw, 40px);
section {
  padding: $side-padding;
}
header {
  width: 100%;
  height: clamp(60px, 10vw, 100px);
  position: fixed;
  top: 0;
  box-shadow: 0 0 2px 0 gray;
  z-index: 10;
  background-color: rgba(36, 36, 36, 0.3);

  nav {
    display: flex;
    padding: 0 $side-padding;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
    &:hover {
      background-color: #ffffff;
      color: black;
    }
    h1 {
      width: 150px;
      height: 100%;
      z-index: 100;
      a {
        height: 100%;
      }
      img {
        height: 100%;
      }
    }
    .gnb {
      width: 100%;
      height: 100%;
      max-width: 800px;
      margin: 0 auto;
      overflow: hidden;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        width: 100%;
        height: 100%;
        font-size: $header-font;
        font-weight: 500;
        &:hover {
          color: $main-color;
        }
        &:hover .lnb {
          height: 300px;
          border-top: 1px solid rgb(233, 233, 233);
        }
        &:hover .lnb li {
          opacity: 1;
          transition-duration: 1.3s;
        }
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .lnb {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        height: 0;
        overflow: hidden;
        box-shadow: 0 0 4px 0 rgb(87, 87, 87);
        li {
          width: 200px;
          height: 50px;
          opacity: 0;
        }
        .depth {
          color: black;
        }
        .depth li {
          font-size: 16px;
          &:hover {
            font-weight: bold;
          }
        }
      }
      @media (max-width: 1280px) {
        display: none;
      }
    }
    .rnb {
      display: flex;
      align-items: center;
      .lang {
        display: flex;
        width: 100px;
      }
      .lang li {
        padding: 0 10px;
        margin-bottom: 3px;
      }

      .hamburger {
        .material-symbols-rounded {
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
          font-size: 30px;
        }
        cursor: pointer;
      }
    }
  }
  .menu_nav {
    width: 100%;
    height: 0%;
    z-index: 50;
    position: absolute;
    overflow: hidden;
    top: 0;
    display: flex;
    background-color: #fff;
    .fnb {
      margin-top: 150px;
      width: 100%;
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: left;
      padding: $side-padding;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 10px;
        opacity: 0;
      }
      &:hover {
        &::-webkit-scrollbar {
          opacity: 1;
        }
        &::-webkit-scrollbar-thumb {
          background: rgb(238, 238, 238);
          border-radius: 12px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }
      @media (min-width: 1281px) {
        display: none;
      }
      li {
        width: 100%;
        cursor: pointer;
        h5 {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
        transform: rotate(90deg);
      }
      .lnb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.9em;
        font-weight: 400;
        overflow: hidden;
        height: 0;
        gap: 5px;

        a {
          color: rgb(97, 97, 97);
          width: 100%;
          &:hover {
            color: $main-color;
          }
        }
        li {
          display: flex;
          padding: 10px 0;
        }
      }
    }
  }
  .menu_aside {
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: #075d46;
    display: flex;
    align-items: center;
  }
  .menu_aside > div {
    padding: 40px;
    color: white;
  }
  .menu_aside a {
    color: white;
  }
  .menu_aside h3 {
    margin-bottom: 30px;
  }
  .menu_X {
    position: absolute;
    top: 35px;
    right: 45px;
    cursor: pointer;
  }
  .menu_X img {
    width: 25px;
  }
  .menu_nav_inner {
    width: 70%;
    padding: $side-padding;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }
  .menu_nav_inner > div {
    width: 150px;
  }
  .menu_nav_inner > div > a {
    color: #075d46;
    font-size: 1.3em;
  }
  .menu_nav_inner > div:nth-of-type(1) {
    grid-row: 1/3;
  }
  .menu_nav_inner > div:nth-of-type(2) {
    grid-row: 1/3;
  }
  .menu_nav_inner > div:nth-of-type(3) {
    grid-row: 1/3;
  }
  .menu_nav_inner > div:nth-of-type(4) {
    grid-row: 1/3;
  }
  .menu_nav_inner > div:nth-of-type(5) {
    grid-row: 1/2;
  }
  .menu_nav_inner > div:nth-of-type(6) {
    grid-area: 2/5/3/5;
  }
  .menu_nav_inner div ul {
    padding-top: 20px;
  }
  .menu_nav_inner div ul li {
    padding: 5px;
  }
  .menu_nav_inner div ul li > a {
    color: rgb(179, 179, 179);
  }
}
video {
  width: 100%;
}
.business {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}
.swip {
  width: 100%;
}
.swip_btn {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 10px 0;
  position: relative;
  .left {
    left: 0;
    background: linear-gradient(
      to right,
      #ffffff 0%,
      #ffffff 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .right {
    right: 0;
    background: linear-gradient(
      to left,
      #ffffff 0%,
      #ffffff 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .gradient {
    position: sticky;
    flex-shrink: 0;
    padding: 0;
    height: 40px;
    width: 10px;
    border: none;
  }
}
.swip_btn li {
  text-align: center;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding: 10px;
  color: gray;
  flex-shrink: 0;
  margin-right: 10px;
  cursor: pointer;
}

.slide {
  transition: all 0.5s;
  width: 100%;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  font-size: clamp(12px, 2vw, 16px);
  li {
    display: none;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.slide_left {
  flex-basis: 7;
  img {
    width: 100%;
    @media (max-width: 768px) {
      border-radius: 20px 20px 0 0;
    }
  }
}
.slide_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  padding: $side-padding;
}
.slide_right h3 {
  color: $main-color;
  padding: 10px 0;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(43, 68, 36);
  color: white;
  border: 1px solid rgb(26, 48, 26);
}
.btn:hover {
  margin-bottom: 1px;
  box-shadow: 2px 2px 5px 0 rgb(92, 92, 92);
}

.ESG {
  background-color: rgb(255, 249, 238);
  padding: 0;
}
.ESG_box {
  max-width: 1280px;
  padding: $side-padding;
  margin: 0 auto;
}
.ESG ul li {
  color: #fff;
  font-size: clamp(24px, 4vw, 36px);
  height: 250px;
  padding: $side-padding;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition-duration: 2s;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}

.ESG h3 {
  transition-duration: 1s;
}
.ESG h4 {
  position: relative;
  font-size: 0.8em;
  transition-duration: 1s;
  @media (min-width: 769px) {
    left: 100%;
  }
  @media (max-width: 768px) {
    top: 100%;
  }
}
.ESG ul li:hover {
  box-shadow: inset 1280px 1280px 1280px 1280px rgba(20, 20, 20, 0.7);
  h3 {
    font-size: 0.6em;
    @media (max-width: 768px) {
      display: none;
    }
  }
  h4 {
    @media (min-width: 769px) {
      left: 25%;
    }
    @media (max-width: 768px) {
      display: block;
      top: 10%;
    }
  }
}

.ESG ul li:nth-of-type(1) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgb(255, 255, 255, 0)
    ),
    url(img/wind-generator-g15572cebd_1920.jpg) no-repeat fixed;
  background-size: cover;
}
.ESG ul li:nth-of-type(2) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgb(255, 255, 255, 0)
    ),
    url(img/philosophy_img_1_waifu2x_noise3_scale2x.png) no-repeat fixed;
  background-size: cover;
}
.ESG ul li:nth-of-type(3) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgb(255, 255, 255, 0)
    ),
    url(img/shoes-gb2610cc94_1920.jpg) no-repeat fixed;
  background-size: cover;
}
.ESG ul li:nth-of-type(4) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgb(255, 255, 255, 0)
    ),
    url(img/marcin-jozwiak-8tKZFUjC99c-unsplash.jpg) no-repeat fixed;
  background-size: cover;
}
.ESG ul li:nth-of-type(5) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgb(255, 255, 255, 0)
    ),
    url(img/night-background-night-starry-sky-night-sky-with-stars_559531-8141.jpg)
      no-repeat fixed;
  background-size: cover;
}

.IR {
  background-color: #075d46;
  width: 100%;
  padding: 100px 0;
}
.IR_box {
  width: 1280px;
  margin: 0 auto;
}

.IR_box h3 {
  font-size: 4em;
  color: white;
}
.IR_content {
  display: flex;
  justify-content: space-between;
}

.IR_left {
  background-color: white;
  width: 800px;
  height: 320px;
  padding: 50px;
  box-shadow: 0 1px 10px 0 rgb(44, 44, 44);
}
.IR_left h4 {
  font-size: 2em;
}
.IR_left span {
  color: green;
  font-size: 1.4rem;
}

.today {
  display: flex;
  align-items: center;
}
.price {
  font-size: 4em;
  margin-right: 20px;
}
.trade {
  display: flex;
  width: 900px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.trade li {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.IR_right ul {
  flex-flow: column;
  align-items: center;
}
.IR_right ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 20px 0 black;
  width: 350px;
  height: 120px;
  margin-bottom: 30px;
  padding: 10px;
}
.IR_right ul li span {
  padding: 0 50px 0 10px;
}
.IR_right ul li:nth-of-type(1) i {
  width: 40px;
  height: 40px;
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 0 -340px;
  display: block;
}
.IR_right ul li:nth-of-type(2) i {
  width: 40px;
  height: 40px;
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -50px -340px;
  display: block;
}
.IR_right ul li:nth-of-type(3) i {
  width: 40px;
  height: 40px;
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -100px -340px;
  display: block;
}
.PRESS {
  width: 1280px;
  height: 800px;
  padding: 100px 0;
  margin: 0 auto;
}

.PRESS > h3 {
  font-size: 4em;
}
.post {
  display: flex;
  flex-flow: column;
  margin-top: 50px;
}
.post li {
  padding: 30px 0;
  border-top: 1px solid rgb(216, 216, 216);
  line-height: 30px;
}
.post li > div {
  float: left;
  margin-right: 20px;
  color: #075d46;
  font-size: 1.2em;
}
.post li > p {
  margin-left: 60px;
}

.CS_center {
  background-color: rgb(226, 226, 226);
  padding: 0;
}
.CS_box {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: $side-padding;

  h3 {
    margin-bottom: 30px;
  }
  h4 {
    margin: 10px 0;
  }
}

.center {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @media screen and (max-width: 678px) {
    flex-direction: column;
  }
  i {
    margin-bottom: 20px;
    margin: 20px auto;
    width: 60px;
    height: 60px;
    display: block;
  }
  li {
    width: clamp(200px, 28vw, 360px);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 0 rgb(141, 141, 141);
    text-align: center;
    color: #075d46;
    font-size: 1.2em;
    position: relative;
    background-color: rgb(240, 240, 240);
    @media screen and (max-width: 678px) {
      width: 100%;
    }
    &:hover div {
      left: 0;
    }
    a {
      color: white;
    }
    div {
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.8);
      text-align: center;
      line-height: 150px;
      left: 100%;
      top: 0;
      position: absolute;
    }
  }
}
.counseling li:nth-of-type(1) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 0 -400px;
}
.counseling li:nth-of-type(2) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -60px -400px;
}
.counseling li:nth-of-type(3) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -120px -400px;
}

.direct li:nth-of-type(1) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -180px -400px;
}
.direct li:nth-of-type(2) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -240px -400px;
}
.direct li:nth-of-type(3) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 0px -460px;
}

// ν‘Έν„°
footer {
  margin: 0 auto;
  font-size: clamp(12px, 2vw, 16px);
  h5 {
    font-weight: 600;
  }
  aside {
    position: fixed;
    bottom: 5%;
    right: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 5;
  }
}
.cs {
  border-radius: 100%;
  width: clamp(60px, 10vw, 75px);
  aspect-ratio: 1/1;
  text-align: center;
  font-size: clamp(12px, 2vw, 14px);
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 0 rgb(117, 117, 117);
}
.CJ_talk {
  border-radius: 100%;
  width: clamp(60px, 10vw, 75px);
  aspect-ratio: 1/1;
  text-align: center;
  background-color: rgb(250, 163, 49);
  box-shadow: 2px 2px 10px 0 rgb(117, 117, 117);
  img {
    width: 50%;
  }
}
.top_btn {
  border-radius: 100%;
  width: clamp(60px, 10vw, 75px);
  aspect-ratio: 1/1;
  font-size: clamp(12px, 2vw, 14px);
  text-align: center;
  color: white;
  line-height: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px 0 rgb(117, 117, 117);
  &:hover {
    background-color: black;
    color: white;
  }
}
.footer-top {
  width: 100%;
  color: white;
  background-color: $main-color;
  .wrap {
    max-width: 1280px;
    padding: $side-padding;
    gap: 20px;
    margin: 0 auto;
  }
}
.policy {
  display: flex;
  width: 100%;
  max-width: 800px;
  gap: 20px;
  li:nth-of-type(1) {
    font-weight: 900;
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.family {
  all: unset;
  width: 150px;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid white;
}
.footer_main {
  max-width: 1280px;
  width: 100%;
  padding: $side-padding;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer_left {
  width: 70%;
  color: rgb(207, 207, 207);
  font-size: 36px;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.footer_logo img {
  width: 70%;
}
.fnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    gap: 20px;
    flex-direction: column;
  }
  li {
    width: 100%;
    h5 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media screen and (max-width: 768px) {
      cursor: pointer;
    }
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    transform: rotate(90deg);
  }
  .lnb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      width: 100%;
      overflow: hidden;
      height: 0;
      gap: 5px;
    }
    a {
      color: rgb(97, 97, 97);
      width: 100%;
      &:hover {
        color: $main-color;
      }
    }
    li {
      display: flex;
      padding: 10px 0;
    }
  }
}
.max768 {
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.up768 {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.company_info {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $side-padding;
  border-top: 1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
  .footer_logo {
    width: 150px;
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}
.address {
  text-align: center;
  font-size: 0.8em;
  color: rgb(92, 92, 92);
}
