@charset "UTF-8";
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(12px, 3vw, 16px);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none; /* 모든 요소의 선택 방지 */
  -webkit-user-select: none; /* 크롬, 사파리 */
  -moz-user-select: none; /* 파이어폭스 */
  -ms-user-select: none; /* 인터넷 익스플로러, 엣지 */
}

img {
  -webkit-user-drag: none; /* 크롬, 사파리 */
  -moz-user-drag: none; /* 파이어폭스 */
  -ms-user-drag: none; /* 인터넷 익스플로러, 엣지 */
  pointer-events: none; /* 클릭 및 드래그 불가 */
}

a {
  all: unset;
  cursor: pointer;
}

body.no-scroll {
  overflow: hidden;
}

.blue {
  color: #006ecd;
}

.green {
  color: #005b45;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.opacity6 {
  opacity: 0.6;
}

h2 {
  color: #ff9700;
  font-weight: bold;
  font-size: clamp(12px, 1vw, 16px);
  padding: clamp(12px, 1vw, 16px) 0;
}

h3 {
  font-weight: 700;
  font-size: clamp(24px, 3vw, 36px);
}

h4 {
  font-weight: 600;
  font-size: clamp(16px, 2vw, 24px);
}

section {
  padding: clamp(20px, 3vw, 40px);
}

.btn, .swip_btn li {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgb(212, 212, 212);
  background-color: white;
  cursor: pointer;
}
.btn span, .swip_btn li span {
  font-weight: 500;
  color: #006ecd;
}
.btn:hover span, .swip_btn li:hover span {
  color: #ef141d;
  transition-duration: 0.3s;
}

header {
  width: 100%;
  height: clamp(60px, 5vw, 100px);
  position: fixed;
  top: 0;
  box-shadow: 0 0 2px 0 gray;
  z-index: 10;
  background-color: rgba(36, 36, 36, 0.3);
}
header nav {
  display: flex;
  padding: 0 clamp(20px, 3vw, 40px);
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: white;
}
header nav:hover {
  background-color: white;
  color: black;
}
header nav h1 {
  width: 150px;
  height: 100%;
  z-index: 100;
}
header nav h1 a,
header nav h1 img {
  height: 100%;
}
header nav .gnb {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .gnb li {
  width: 100%;
  height: 100%;
  font-size: clamp(20px, 1.2vw, 24px);
  font-weight: 500;
}
header nav .gnb li:hover {
  color: #005b45;
}
header nav .gnb li:hover .lnb {
  height: 310px;
  border-top: 1px solid rgb(233, 233, 233);
}
header nav .gnb li:hover .lnb li {
  opacity: 1;
  transition-duration: 1.3s;
}
header nav .gnb li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .gnb li a:hover {
  font-weight: bold;
  color: #005b45;
}
header nav .gnb .lnb {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  height: 0;
  overflow: hidden;
  box-shadow: 0 0 4px 0 rgb(87, 87, 87);
}
header nav .gnb .lnb li {
  width: 200px;
  height: 50px;
  opacity: 0;
}
header nav .gnb .lnb .depth {
  color: black;
}
header nav .gnb .lnb .depth li {
  font-size: 16px;
}
@media (max-width: 1280px) {
  header nav .gnb {
    display: none;
  }
}
header nav .rnb {
  display: flex;
  align-items: center;
}
header nav .rnb .lang {
  display: flex;
  width: 100px;
}
header nav .rnb .lang li {
  padding: 0 10px;
  margin-bottom: 3px;
}
header nav .rnb .hamburger {
  cursor: pointer;
}
header nav .rnb .hamburger .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  font-size: 30px;
}
header .menu_nav {
  width: 100%;
  height: 0%;
  z-index: 50;
  position: absolute;
  overflow: hidden;
  top: 0;
  display: flex;
  background-color: white;
  flex-direction: column;
}
@media (min-width: 1281px) {
  header .menu_nav {
    flex-direction: row;
  }
}
header .menu_nav .fnb {
  margin-top: 150px;
  width: 100%;
  display: flex;
  gap: 20px;
  font-weight: 600;
  flex-direction: column;
  justify-content: left;
  padding: clamp(20px, 3vw, 40px);
  overflow-y: auto;
}
@media (max-width: 768px) {
  header .menu_nav .fnb {
    margin-top: 50px;
  }
}
header .menu_nav .fnb::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}
header .menu_nav .fnb:hover::-webkit-scrollbar {
  opacity: 1;
}
header .menu_nav .fnb:hover::-webkit-scrollbar-thumb {
  background: rgb(238, 238, 238);
  border-radius: 12px;
}
header .menu_nav .fnb:hover::-webkit-scrollbar-track {
  background: transparent;
}
@media (min-width: 769px) {
  header .menu_nav .fnb {
    display: none;
  }
}
header .menu_nav .fnb li {
  width: 100%;
  cursor: pointer;
}
header .menu_nav .fnb li h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu_nav .fnb li .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  transform: rotate(90deg);
}
header .menu_nav .fnb .lnb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
  font-weight: 400;
  overflow: hidden;
  height: 0;
  gap: 5px;
}
header .menu_nav .fnb .lnb a {
  color: rgb(97, 97, 97);
  width: 100%;
}
header .menu_nav .fnb .lnb li {
  display: flex;
  padding: 10px 0;
}
header .menu_aside {
  background-color: #005b45;
  display: flex;
  align-items: center;
  min-width: 30%;
}
header .menu_aside > div {
  padding: 40px;
  color: white;
}
header .menu_aside a {
  color: white;
}
header .menu_aside h3 {
  margin-bottom: 30px;
}
header .menu_X {
  position: absolute;
  top: clamp(20px, 2vw, 30px);
  right: clamp(35px, 4vw, 60px);
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  header .menu_X {
    color: white;
  }
}
header .menu_X img {
  width: 25px;
}
header .menu_nav_inner {
  width: 100%;
  padding: clamp(20px, 3vw, 40px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 768px) {
  header .menu_nav_inner {
    display: none;
  }
}
header .menu_nav_inner > div {
  width: 150px;
}
header .menu_nav_inner > div > a {
  color: #005b45;
  font-size: 1.3em;
}
header .menu_nav_inner > div:nth-of-type(1) {
  grid-row: 1/3;
}
header .menu_nav_inner > div:nth-of-type(2) {
  grid-row: 1/3;
}
header .menu_nav_inner > div:nth-of-type(3) {
  grid-row: 1/3;
}
header .menu_nav_inner > div:nth-of-type(4) {
  grid-row: 1/3;
}
header .menu_nav_inner > div:nth-of-type(5) {
  grid-row: 1/2;
}
header .menu_nav_inner > div:nth-of-type(6) {
  grid-area: 2/5/3/5;
}
header .menu_nav_inner div ul {
  padding-top: 20px;
}
header .menu_nav_inner div ul li {
  padding: 5px;
}
header .menu_nav_inner div ul li > a {
  color: rgb(179, 179, 179);
}

.video {
  display: flex;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  video {
    height: 100vh;
    max-height: 420px;
  }
}
@media (min-width: 769px) {
  video {
    width: 100%;
  }
}

.business {
  margin: auto;
  width: 100%;
  max-width: 1280px;
}

.swip_btn {
  width: 100%;
  overflow: hidden;
  display: flex;
  padding: 10px 0;
  position: relative;
  font-size: clamp(12px, 1.5vw, 16px);
}
.swip_btn li {
  color: gray;
  flex-shrink: 0;
  margin-right: 10px;
  position: relative;
}
.swip_btn .left {
  width: 10px;
  left: 0;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0) 100%);
}
.swip_btn .right {
  width: 30px;
  right: 0;
  background: linear-gradient(to left, #ffffff 0%, #ffffff 10%, rgba(255, 255, 255, 0) 100%);
}
.swip_btn .gradient {
  position: sticky;
  flex-shrink: 0;
  padding: 0;
  border: none;
  z-index: 2;
}

.slide {
  transition: all 0.5s;
  width: 100%;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  font-size: clamp(12px, 1.5vw, 16px);
}
.slide li {
  display: none;
}
@media (max-width: 768px) {
  .slide li {
    flex-direction: column;
    font-size: clamp(14px, 1.5vw, 16px);
  }
}

.slide_left {
  flex-basis: 7;
}
.slide_left img {
  width: 100%;
}
@media (max-width: 768px) {
  .slide_left img {
    border-radius: 20px 20px 0 0;
  }
}

.slide_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: clamp(20px, 3vw, 40px);
}
.slide_right h3 {
  color: #005b45;
  padding: 10px 0;
}

.ESG {
  background-color: rgb(255, 249, 238);
  padding: 0;
}

.ESG_box {
  max-width: 1280px;
  padding: clamp(20px, 3vw, 40px);
  margin: 0 auto;
}

.ESG ul li {
  color: white;
  font-size: clamp(24px, 4vw, 36px);
  height: 250px;
  padding: clamp(20px, 3vw, 40px);
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 480px) {
  .ESG ul li {
    flex-direction: column;
    justify-content: center;
  }
}

.ESG ul {
  position: relative;
}

.ESG ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .ESG ul li {
    justify-content: end;
  }
}
@media (max-width: 480px) {
  .ESG ul li {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .ESG ul h3 {
    position: relative;
    top: 20%;
  }
}
@media (min-width: 481px) {
  .ESG ul h3 {
    position: absolute;
    left: 7%;
  }
}

.ESG h4 {
  position: relative;
}
@media (min-width: 481px) {
  .ESG h4 {
    left: 100%;
  }
}
@media (max-width: 481px) {
  .ESG h4 {
    top: 100%;
  }
}

.ESG ul li:hover {
  box-shadow: inset 1280px 1280px 1280px 1280px rgba(20, 20, 20, 0.7);
  transition: 1s;
}
@media (max-width: 480px) {
  .ESG ul li:hover h3 {
    transition: 1s ease-in-out;
    top: 10%;
  }
}
.ESG ul li:hover h4 {
  transition: 1s ease-in-out;
}
@media (min-width: 481px) {
  .ESG ul li:hover h4 {
    left: 0;
  }
}
@media (max-width: 480px) {
  .ESG ul li:hover h4 {
    top: 30%;
  }
}

.ESG ul li:nth-of-type(1) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url(img/wind-generator-g15572cebd_1920.jpg) no-repeat fixed;
  background-size: cover;
}

.ESG ul li:nth-of-type(2) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url(img/philosophy_img_1_waifu2x_noise3_scale2x.png) no-repeat fixed;
  background-size: cover;
}

.ESG ul li:nth-of-type(3) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url(img/shoes-gb2610cc94_1920.jpg) no-repeat fixed;
  background-size: cover;
}

.ESG ul li:nth-of-type(4) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url(img/marcin-jozwiak-8tKZFUjC99c-unsplash.jpg) no-repeat fixed;
  background-size: cover;
}

.ESG ul li:nth-of-type(5) {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)), url(img/night-background-night-starry-sky-night-sky-with-stars_559531-8141.jpg) no-repeat fixed;
  background-size: cover;
}

.IR {
  background-color: #005b45;
  padding: 0;
  font-size: clamp(12px, 2vw, 16px);
}

.IR_box {
  max-width: 1280px;
  padding: clamp(20px, 3vw, 40px);
  margin: 0 auto;
}

.IR_box h3 {
  color: white;
}

.IR_content {
  display: flex;
  justify-content: space-between;
  margin-top: clamp(20px, 2vw, 30px);
  gap: clamp(20px, 5vw, 50px);
}
@media screen and (max-width: 768px) {
  .IR_content {
    flex-direction: column;
  }
}

.IR_left {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: clamp(20px, 3vw, 40px);
}

.today {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .today {
    flex-direction: column;
  }
}
.today .price {
  font-size: clamp(24px, 4vw, 48px);
}
.today .time {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.trade {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.trade li {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.trade li span {
  color: gray;
}

.IR_right {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .IR_right {
    width: 100%;
    flex-direction: row;
  }
}

.IR_right li {
  width: 100%;
}
.IR_right li a {
  background-color: white;
  padding: clamp(20px, 3vw, 40px);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.IR_right li a:hover span {
  color: #ef141d;
  transition-duration: 0.3s;
}
@media screen and (max-width: 768px) {
  .IR_right li a {
    flex-direction: column;
    gap: 5px;
  }
}
.IR_right li span {
  color: #006ecd;
  font-weight: 500;
}
.IR_right li i {
  width: 40px;
  height: 40px;
}

.IR_right li:nth-of-type(1) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 0 -340px;
  display: block;
}

.IR_right li:nth-of-type(2) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -50px -340px;
  display: block;
}

.IR_right li:nth-of-type(3) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -100px -340px;
  display: block;
}

.PRESS {
  max-width: 1280px;
  margin: 0 auto;
}

.post {
  display: flex;
  flex-flow: column;
  margin-top: clamp(20px, 4vw, 30px);
}

.number {
  font-weight: 500;
  font-size: clamp(16px, 2vw, 24px);
  color: #006ecd;
}

.post li a {
  display: flex;
  gap: 10px;
  border-top: 1px solid rgb(216, 216, 216);
  padding: 20px 0;
}
.post li a:hover .number {
  color: #ef141d;
  transition-duration: 0.3s;
}
.post li a h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.post li a p {
  margin-top: 20px;
  color: gray;
  font-size: clamp(12px, 1vw, 16px);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.CS_center {
  background-color: rgb(226, 226, 226);
  padding: 0;
}

.CS_box {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: clamp(20px, 3vw, 40px);
}
.CS_box h3 {
  margin-bottom: 30px;
}
.CS_box h4 {
  margin: 10px 0;
}

.center {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: clamp(16px, 2vw, 24px);
}
@media screen and (max-width: 480px) {
  .center {
    font-size: clamp(16px, 2vw, 24px);
    flex-direction: column;
  }
}
.center i {
  margin-bottom: 20px;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  display: block;
}
.center li {
  width: clamp(200px, 28vw, 360px);
  padding: clamp(20px, 3vw, 40px);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 5px 0 rgb(141, 141, 141);
  text-align: center;
  color: #005b45;
  position: relative;
  background-color: white;
}
@media screen and (max-width: 480px) {
  .center li {
    width: 100%;
  }
}
.center li:hover div {
  left: 0;
}
.center li a {
  color: white;
}
.center li div {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  left: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counseling li:nth-of-type(1) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 0 -400px;
}

.counseling li:nth-of-type(2) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -60px -400px;
}

.counseling li:nth-of-type(3) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -120px -400px;
}

.direct li:nth-of-type(1) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -180px -400px;
}

.direct li:nth-of-type(2) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -240px -400px;
}

.direct li:nth-of-type(3) i {
  background-image: url(img/icons.png);
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 0px -460px;
}

footer {
  margin: 0 auto;
  font-size: clamp(12px, 2vw, 16px);
}
footer h5 {
  font-weight: 600;
}
footer aside {
  position: fixed;
  bottom: 5%;
  right: 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
}

.aside_btn {
  border-radius: 100%;
  width: clamp(60px, 10vw, 75px);
  aspect-ratio: 1/1;
  font-size: clamp(12px, 2vw, 14px);
  text-align: center;
  color: white;
  line-height: 18px;
  border: 1px solid rgba(240, 240, 240, 0.3);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px 0 rgb(117, 117, 117);
  transition: 0.2s;
  font-weight: bold;
}
.aside_btn:hover {
  background-color: black;
}
.aside_btn:nth-of-type(1):hover {
  background-color: #006ecd;
}
.aside_btn:nth-of-type(2):hover {
  background-color: #ff9700;
}
.aside_btn:nth-of-type(3):hover {
  background-color: #ef141d;
}
.aside_btn:nth-of-type(4):hover {
  color: #ff9700;
}

.footer-top {
  width: 100%;
  color: white;
  background-color: #005b45;
}
.footer-top .wrap {
  max-width: 1280px;
  padding: clamp(20px, 3vw, 40px);
  gap: 20px;
  margin: 0 auto;
}

.policy {
  display: flex;
  width: 100%;
  max-width: 800px;
  gap: 20px;
}
.policy li:nth-of-type(1) {
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .policy {
    flex-wrap: wrap;
  }
}

.family {
  all: unset;
  width: 150px;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid white;
}

.footer_main {
  max-width: 1280px;
  width: 100%;
  padding: clamp(20px, 3vw, 40px);
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer_left {
  width: 70%;
  color: rgb(207, 207, 207);
  font-size: 36px;
}
@media screen and (max-width: 1024px) {
  .footer_left {
    display: none;
  }
}

.footer_logo img {
  width: 70%;
}

.fnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .fnb {
    gap: 20px;
    flex-direction: column;
  }
}
.fnb li {
  width: 100%;
}
.fnb li h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .fnb li {
    cursor: pointer;
  }
}
.fnb .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 1em;
}
.fnb .lnb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .fnb .lnb {
    width: 100%;
    overflow: hidden;
    height: 0;
    gap: 5px;
  }
}
.fnb .lnb a {
  color: rgb(97, 97, 97);
  width: 100%;
}
.fnb .lnb a:hover {
  color: #005b45;
}
.fnb .lnb li {
  display: flex;
  padding: 10px 0;
}

@media screen and (min-width: 769px) {
  .max768 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .up768 {
    display: none;
  }
}

.company_info {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 clamp(20px, 3vw, 40px);
  border-top: 1px solid rgb(194, 194, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}
.company_info .footer_logo {
  width: 150px;
}
.company_info .footer_logo img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .company_info {
    flex-direction: column;
  }
}

.address {
  text-align: center;
  font-size: 0.8em;
  color: rgb(92, 92, 92);
}/*# sourceMappingURL=style.css.map */